@font-face {
  font-family: TX;
  src: url(Texto.ttf);
}
@font-face {
  font-family: TT;
  src: url(Titulo.ttf);
}
body {
  font-family: TX;
  text-align: center;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 26%, rgba(122,244,195,1) 100%);
}
.card {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
div{
  display: block;
  width: 800px;
  margin: 0 auto;
}
h1 {
  font-size: 10mm;
  font-family: TT;
  color: green;
}
h2 {
  font-size: 7mm;
  font-family: TT;
  color: green;
}
p {
  font-size: 6mm;
  color: purple;
}
img#cara {
  border-radius:150px;
  border:2px solid black;
}
img#facebook {
  background-color: purple;
  border-radius:10px;
  border:2px solid black;
  width: 100px;
  height: 40px;
}
img#facebook:hover {
  background-color: violet;
}
img#instagram {
  background-color: purple;
  border-radius:10px;
  border:2px solid black;
  width: 50px;
  height: 50px;
}
img#instagram:hover {
  background-color: violet;
}
img#github {
  background-color: purple;
  border-radius:10px;
  border:2px solid black;
  width: 100px;
  height: 50px;
}
img#github:hover {
  background-color: violet;
}
img#gusto {
  border:2px solid black;
  width: 150px;
  height: 100px;
}
td#tds {
  border-radius: 5px;
  color: purple;
  border: black solid;
}
table {
  font-size: 5mm;
  margin: auto;
  width: 700px;
  height: 250px;
}
th {
  border-radius: 5px;
  color: purple;
  border: black solid;
}
