@font-face {
  font-family: FB;
  src: url(bBigerOver.ttf);
}
@font-face {
  font-family: FA;
  src: url(Aero.ttf);
}
h1 {
  font-family: FB;
  color: white;
}
h2 {
  font-family: FA;
  color: Yellow;
}
h3 {
  font-family: FB;
  color: white;
}
body {
  background-position: center;
  background-image: url("Bg.jpg");
  text-align: center;
  background-color: #7EF6D2;
}
